<ons-page ng-controller="FeedPluginMasterController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" ng-bind-html="title"></div>
    </ons-toolbar>
        
    <ons-pull-hook ng-action="load($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
        <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
        <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
        <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
    </ons-pull-hook>
    
    <ons-list-header ng-show="description" ng-bind-html="description"></ons-list-header>
        
    <ons-list ng-show="feeds">
        <ons-list-item modifier="chevron" class="item" ng-repeat="feed in feeds | limitTo: paginationLimit()" ng-click="showDetail($index)">
            <ons-row>
                
            <ons-col ng-if="feed.mediaGroups" width="95px">
            <div class="thumbnail-container">
            <div ng-if="!hasVideo(feed) && !hasAudio(feed)"><img ng-src="{{feed.mediaGroups[0].contents[0].url}}" class="thumbnail"></img></div>
            <div ng-if="hasVideo(feed)"><img ng-src="{{feed.mediaGroups[0].contents[0].thumbnails[0].url}}" class="thumbnail"></img></div>
            </div>
            </ons-col>
        
            <ons-col ng-if="getImage($index) && !feed.mediaGroups" width="95px" >
            <img ng-src="{{getImage($index)}}" class="thumbnail"></img>
            </div>
            </ons-col>

            <ons-col>
            <header>
            <span class="item-title" ng-bind-html="feed.title"></span>
            </header>
            <p class="item-desc" ng-bind-html="feed.contentSnippet"></p>
            </ons-col>
            </ons-row>  
            
        </ons-list-item>
    </ons-list>
    
    <ons-row align="center" class="status-message">
    <ons-col>
    <span class="loading"><i class="fa fa-spin fa-circle-o-notch"></i> Loading</span>
    <span ng-bind="msg"></span>
    </ons-col>
    </ons-row>
    
    <div style="padding: 0 10px 10px 10px;">
    <ons-button modifier="large" ng-show="hasMoreItems()" ng-click="showMoreItems()">Show more</ons-button>
    </div>

</ons-page>